<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>GDSC-CONNECT FORGOT PASSWORD</title>
    <style>
        .card {
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius:
                10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>
    <div class='card'>
        <h1></h1>
        <h3></h3>
        <p>You recently requested to reset your password on GDSC-Connect.</p>
        <a href={{Mail.url}}>Click here to reset your password</a>
    </div>
</body>

</html>